---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
	title="About | Aayush Gandhi"
	description="About Aayush Gandhi"
>
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Aayush Gandhi at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<h5>Johns Hopkins University</h5>
					<h6>Baltimore, MD (Expected May 2024)</h6>
					<em>
						Master of Science in Engineering in Computer Science
					</em>

					<br />
					<br />
					<h5>Johns Hopkins University</h5>
					<h6>Baltimore, MD (Aug 2019 - May 2023)</h6>	
					<em>
						Bachelor of Science in Chemical and Biomolecular
						Engineering, Minor in Computer Science
					</em>
					<ul>
						<li>
							Dean's List (2019-2023) and Chemical and
							Biomolecular Engineering Departmental Honors
							recipient
						</li>
						<li>
							Provost Undergraduate Research Award 2022 recipient
						</li>
						<li>
							Relevant coursework: Transport Phenomena, Chemical
							and Biological Process Analysis, Dynamic Modeling
							and Controls, Data Structures, Computer Systems
							Fundamentals, Engineering Thermodynamics, Artificial
							Intelligence, Genomic Data Science
						</li>
						<li>
							Cumulative GPA: <strong>3.81/4.00</strong> (Major GPA: 3.84/4.00)
						</li>
					</ul>
				</div>

			</section>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						With a strong academic foundation in Chemical and
						Biomolecular Engineering complemented by a minor in
						Computer Science, my background is a unique blend of
						technical expertise and interdisciplinary knowledge. As
						a recent graduate from Johns Hopkins University, I am
						equipped with a diverse skill set that encompasses
						software engineering, research, and leadership.
					</p>
					<br />
					<p>
						Throughout my undergraduate years, I excelled in
						challenging coursework, earning a cumulative GPA of
						3.81/4.00 and consistently making the Dean's List. I
						delved into core engineering principles, such as
						Transport Phenomena and Chemical and Biological Process
						Analysis, while also expanding my knowledge in computer
						science through courses like Data Structures and
						Artificial Intelligence. This cross-disciplinary
						approach has allowed me to understand complex systems
						and find innovative solutions at the intersection of
						technology and engineering.
					</p><br />
					<p>
						In my professional experiences, I have had the
						opportunity to apply my skills and make a tangible
						impact. As a Software Engineering Intern at CraniUS LLC,
						I developed an automated scanning tool to identify
						vulnerabilities in open-source software, resulting in
						the discovery of critical vulnerabilities and
						contributing to enhanced security measures. I also
						spearheaded the creation of software-bill-of-materials
						generation and analysis scripts, significantly reducing
						vulnerability scanning time.
					</p><br />

					<p>
						Additionally, I have contributed to groundbreaking
						research as an Undergraduate Research Assistant at the
						Centre for Nanomedicine at Wilmer Eye Institute. My work
						involved the development of antibiotic-eluting sutures
						to prevent ophthalmic infections, as well as the
						creation of a portable version of the Humphrey visual
						field analyzer test. These experiences have not only
						honed my technical skills but have also taught me the
						importance of meticulous experimentation and attention
						to detail.
					</p>
					<br />
					<p>
						Beyond my academic and professional endeavors, I have
						actively engaged in leadership roles and extracurricular
						activities. As a Resident Advisor at Johns Hopkins
						University Residential Life, I mentored and supported
						fellow students, fostering a sense of community and
						facilitating their transition to campus life. I also
						participated in the American Institute of Chemical
						Engineers (AIChE), conducting thermodynamic analysis and
						contributing to data visualization and analysis
						projects.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>
						Driven by a passion for continuous learning and
						problem-solving, I possess a solid foundation in
						programming languages such as Python, Java, and C++.
						Additionally, I am proficient in utilizing frameworks
						like React and Django, cloud platforms such as AWS and
						Azure, and databases like PostgreSQL. My technical
						skills are complemented by my ability to design
						hypotheses, conduct wet-lab research, and rapidly
						prototype solutions. In my spare time, I enjoy exploring
						different cultures, languages, and cuisines. I am fluent
						in English and Hindi, and I have conversational skills
						in Spanish. This global perspective and multicultural
						awareness contribute to my ability to work effectively
						in diverse teams. With a well-rounded background that
						spans engineering, computer science, research, and
						leadership, I am poised to take on new challenges and
						make meaningful contributions. I am excited to leverage
						my skills and experiences to drive innovation, solve
						complex problems, and create a positive impact in the
						ever-evolving technological landscape.
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
